include assets/blocks/head/head

body
  main.calendar
    .calendar__header
      .calendar__title Поиск
      //- .calendar__buttons
      //-   button.calendar__button Добавить
      //-   button.calendar__button Обновить

      include assets/blocks/search/search

    include assets/blocks/events/events
    
    .calendar__timeline.timeline
      .timeline__nav
        .timeline__prev
        .timeline__next
      .timeline__content#timeline

    .calendar__events.events#events
    
  script(type="text/javascript", src="./assets/js/functions.min.js")